.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
input {
  height: 40px;
  font-size: 16px;
}

button {
  margin-top: 8px;
  height: 60px;
  width: 120px;
  color: lightgreen;
  font-weight: bold;
  background-color: inherit;
  border: 2px solid whitesmoke;
  font-size: 18px;
}

.comments {
  width: 500px;
  background-color: rgb(245 245 245 / 9%);
  margin-top: 12px;
  height: 280px;
  overflow-y: auto;
  font-size: 20px;
}
.name {
  font-size: 32px;
  font-weight: 200;
  color: lightgreen;
  text-shadow: 0 4px 4px whitesmoke;
}
